HJERTESTARTERREGISTER_CLIENT_ID=""
HJERTESTARTERREGISTER_CLIENT_SECRET=""
HJERTESTARTERREGISTER_API_BASE_URL="https://hjertestarterregister.113.no/ords/api/v1/"
HJERTESTARTERREGISTER_OAUTH_TOKEN_URL="https://hjertestarterregister.113.no/ords/api/oauth/token"
DATABASE_URL="postgres://username:password@localhost:5432/hjertestarterregister2osm"
LOG_LEVEL="info"
