[Unit]
Description=Run Hjertestarterregister Reconciler every 12 hours

[Timer]
OnCalendar=*-*-* 00,12:00:00
Persistent=true
RandomizedDelaySec=5m
Unit=reconciler.service

[Install]
WantedBy=timers.target
